<div class="container">
    <h2>Pace 🏃‍♂️</h2>
    <!-- Eingabe für Distanz -->
    <div class="form-group">
      <label for="distance">Distanz (km):</label>
      <input
        type="number"
        id="distance"
        [(ngModel)]="distance"
        class="form-control"
        placeholder="10"
      />
    </div>

    <!-- Eingabe für Zeit -->
    <div class="form-group">
      <label for="time">Zeit:</label>
      <input
        type="text"
        id="time"
        [(ngModel)]="time"
        class="form-control"
        placeholder="HH:MM:SS oder MM:SS"
        (input)="validateTime()"
      />
      <div *ngIf="timeError" class="error">{{ timeError }}</div>
    </div>

    <!-- Eingabe für Pace -->
    <div class="form-group">
      <label for="pace">Pace:</label>
      <input
        type="text"
        id="pace"
        [(ngModel)]="pace"
        class="form-control"
        placeholder="MM:SS"
        (input)="validatePace()"
      />
      <div *ngIf="paceError" class="error">{{ paceError }}</div>
    </div>

  <!-- Berechnungsbutton -->
  <div class="button-group">
    <button (click)="calculate()" [disabled]="!isFormValid()" class="btn btn-primary">Berechne</button>
    <button (click)="reset()" class="btn btn-secondary">Reset</button>
  </div>
</div>
