<div class="container">
  <h2>Herzfrequenz ❤️</h2>
  <div class="form-group">
    <label for="hfMax">HFmax (bpm):</label>
    <input
      type="number"
      id="hfMax"
      [(ngModel)]="hfMax"
      class="form-control"
      placeholder="190"
    />
  </div>
  <div class="form-group">
  <label for="method">Methode:</label>
    <select id="method" name="Berechnung" (change)="onMethodChange($event)">
      <option value="zones">Zones</option>
      <option value="runnersworld">Runners World</option>
    </select>
  </div>
  <button (click)="calculateZones()" class="btn btn-primary">Berechne</button>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Zone</th>
        <th>Prozent</th>
        <th>Bereich</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let zone of zones">
        <td>{{ zone.name }}</td>
        <td>{{ zone.percentage }}</td>
        <td>{{ zone.range || '' }}</td>
      </tr>
    </tbody>
  </table>
</div>
